@import "tailwindcss";

@theme {
  /* Un azul inspirado en la Iglesia y un dorado/ámbar para resaltar */
  --color-iglesia-blue: #002e5d;
  --color-misional-gold: #d4af37;
}

body {
  background-color: #f8fafc;
  color: #1e293b;
}